# postgresql.conf

# リッスンアドレスとポート番号
listen_addresses = '*'
port = 5432

# データディレクトリとログディレクトリ
data_directory = '/var/lib/postgresql/data'
log_directory = 'pg_log'

# 文字セット
client_encoding = 'UTF8'

# タイムゾーン
timezone = 'UTC'
log_timezone = 'UTC'

# エラーログ
logging_collector = on
log_filename = 'postgresql-error.log'
log_truncate_on_rotation = on
log_rotation_age = 1d
log_rotation_size = 10MB

# スロークエリログ
log_min_duration_statement = 1000 # ミリ秒単位
log_checkpoints = on
log_connections = on
log_disconnections = on
log_lock_waits = on
log_temp_files = 0
log_autovacuum_min_duration = 0
log_error_verbosity = default

# 汎用ログ
debug_print_parse = off
debug_print_rewritten = off
debug_print_plan = off
debug_pretty_print = on
